<nav class="navbar navbar-expand-lg navbar-dark lv-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for nav in site.data.nav %}
        {% if nav.subcategories != null %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lv-dropdown-item" href="{{ site.url }}{{ nav.url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ nav.title }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for subcategory in nav.subcategories %}
              <a class="dropdown-item lv-dropdown-item" href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a>
            {% endfor %}
            </div>
          </li>
        {% elsif nav.title == page.title %}
           <li class="nav-item active">
             <a class="dropdown-item" href="{{ nav.url }}">{{ nav.title }}</a>
           </li>
        {% else %}
          <li class="nav-item">
            <a class="dropdown-item lv-dropdown-item" href="{{ site.url }}{{ nav.href }}">{{ nav.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
