#logo_banner {
  display: block;
  position: absolute;
  top: 20px;
  left: 25px;
	-webkit-box-shadow: none;
  //z-index: 10;
  //padding: 10px 50px 10px 10px;
  //color: #fff;
  //background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  //font-weight: 700;
  //box-shadow: 0 0 10px rgba(0,0,0,.5);
  //border-bottom-left-radius: 2px;
  //border-bottom-right-radius: 2px;
}

p {
text-align:justify;

}

.right{
     text-align:right;
}

.ukk_logo{
  max-width:295px;
  -webkit-box-shadow: none;
}

.foot_address{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
}

.center-image{
    margin: 0 auto;
    display: block;
}

.lv-nav{
  border-bottom: 1px solid white;

}

.lv-dropdown-item{
  color: white !important;
}

.lv-dropdown-menu{
  color: transparent !important;
}

.outer_home{
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  background: #000000;
}

#main_content_wrap_home {
  border-top: 1px solid #f8f9fa;
  border-bottom: 1px solid #f8f9fa;
}

.home_image{
  margin: 0 auto;
  display: block;
  -webkit-box-shadow: none;
}

.mbtablestyle{
        border-collapse: collapse;
   > table, td, th {
        border: 0px solid black;
        }
}

img + em { }
